[Unit]
Description=Backend Flask App
After=network.target

[Service]
User=jenkins
WorkingDirectory=/var/app/backend
ExecStart=/var/app/backend/venv/bin/python -u app.py
Restart=always
RestartSec=5

StandardOutput=append:/var/app/backend/backendapp.log
StandardError=append:/var/app/backend/backendapp.log

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target